body {
    text-align: center;
    background-image: url("https://media.giphy.com/media/QZtDrFdS58gb6/source.gif");
}


.centered {
    height: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -475px;
}

h1 {
    margin-bottom: 50px;
    font-size: 60px;
    font-family: 'Rubik Mono One', sans-serif; background-color: #ebebeb;
}



.container {
    background-color: transparent;
    text-align: center;
    width: 950px;
    border: transparent;
    border-radius: 15px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Rubik Mono One', sans-serif; color: white;

}

/*Crystals*/
.crystals img {
    height: 150px;
    width: 200px;
    border-radius: 15px;
    margin: 20px 10px 20px 10px;
}

.crystalOne {
    border: 4px solid red;
}

.crystalTwo {
    border: 4px solid green;
}

.crystalThree {
    border: 4px solid blue;
}

.crystalFour {
    border: 4px solid yellow;
}

/*Numbers*/
.targetNumber {
    font-size: 40px;
    margin: 10px auto;
}

.output {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.result {
    font-size: 20px;
    margin: 10px auto;
}

.losses {
    margin-top: 10px;
}